@use 'globals' as *;

.header-vinhodetalhado {

    nav {
        display: flex;
        background-color: $vermelho;
        height: 150px;
        width: 100%;
        justify-content: center;
        align-items: center;

        img {
            width: 200px;
            height: 90px;

            @include responsive(550px) {
                width: 180px;
                height: 85px;
            }
        }
    }
}

.banner {
    display: flex;
    background: url("../../public/assets/banner.webp") no-repeat center center/cover;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;

    &::before {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.60);
        z-index: 1;
    }

    h1 {
        position: absolute;
        z-index: 2;
        color: white;
        letter-spacing: 2px;
        @include fontSize(36px, 48px, 345px, 1920px);
    }
}

.especificacoes {
    display: flex;
    margin: 100px 0;
    @include responsive(750px) {
        display: block;
    }

    &__foto, &__textos {
        flex: 1;
    }

    &__foto {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;

        img {
            height: 600px;
            transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &__textos {

        @include responsive(750px) {
            width: 100%;
            padding: 0 5%;
        }

        h1 {
            color: #222;
            text-transform: uppercase;
            @include fontSize(26px, 36px, 345px, 1920px);
            @include responsive(750px) {
                margin-top: 65px;
            }
        }

        h3 {
            color: #222;
        }

        &__info {
            width: 80%;
            @include responsive(750px) {
                width: 100%;
            }

            &__descricao {
                width: 80%;
                line-height: 1.375;
                @include responsive(750px) {
                    width: 100%;
                }
            }

            div {
                margin: 15px 0;

                &:not(:first-child) {
                    border-top: 1px solid #d1d1d1;
                    padding-top: 15px;
                }
            }

            p, span {
                color: #505050;
            }
            
            &__preco {
                h3 {
                    margin-bottom: 3px;
                }

                span {
                    font-weight: bold;
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                    margin-top: 4px;
                }
            }
        }
    }
}